.home-video-box {
  height: 100%;
  position: relative;
  overflow: hidden;
  .page {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-logo1 {
      position: absolute;
      top: 1.22rem;
      left: 2.5rem;
      z-index: 9;
    }
    &-logo2 {
      width: 30.74rem;
      max-height: 20.7rem;
      margin-left: 0.84rem;
      margin-bottom: 0.44rem;
    }
    &-logo3 {
      background: url(/src/assets/image/logo3.png) no-repeat;
      background-size: 100%;
      width: 5.5rem;
      height: 3rem;
      margin-top: 1.1rem;

      display: flex;
      align-items: center;
      justify-content: center;
      b {
        width: 0;
        height: 0;
        margin-left: 0.5rem;
        border: 0.5rem solid transparent;
        border-left: 0.86rem solid #fff;

        transition: all 500ms;
        position: relative;
        z-index: 1;
      }
    }
    &-logo4 {
      display: flex;
      flex-direction: column;
      margin-top: 2.21rem;
      div {
        color: white;
        font-size: 30px;
      }
      .xiangxia {
        overflow: hidden;
        margin-top: 20px;
        &-svg {
          animation: scrollmove-data 1.4s ease-in-out 0.4s infinite;
        }
      }
    }
  }

  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    video {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  .vague {
    /* 蒙版 */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.505);
    z-index: 8;
  }
}
