$headerHight: 70px; /* 导航栏高度 */

@keyframes scrollmove-data {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(300%);
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  background-color: white;
  &-box {
    padding: 0 40px 0;

    height: $headerHight;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    width: 120px;
    min-width: 120px;
    height: 32px;
    background: rgba(12, 12, 12, 0.654);
    border-radius: 6px;
    margin-inline-end: 24px;

    color: white;
    text-align: center;
    line-height: 32px;
  }
  &-menu {
    display: flex;
    &__menuItem {
      // width: 120px;
      margin: 0 10px 0 40px;
      text-align: right;
      cursor: pointer;
    }
  }
}


.main {
  background-color: rgb(99, 99, 99);
}
.footer {
  background-color: black;
  height: 290px;
  padding: 30px 0 20px 0;
}
